# Entorno virtual (muy importante, subiste la carpeta .venv a GitHub)
.venv/
venv/
env/
ENV/

# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class

# Variables de entorno y secretos
.env
.env.local

# Base de datos SQLite local
*.db
*.sqlite3

# Archivos de configuración de IDEs y editores
.vscode/
.idea/

# Dependencias de Frontend (Node / React / Vue)
node_modules/
build/
dist/
.next/

# Archivos del sistema operativo
.DS_Store
Thumbs.db